/* styles.css */
.custom-table {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .custom-table th, .custom-table td {
    border-top: 1px solid #dee2e6;
  }
  
  .delete-button {
    background-color: #ff6b6b;
    border-color: #ff6b6b;
  }
  
  .delete-button:hover {
    background-color: #ff4f4f;
    border-color: #ff4f4f;
    color: white;
  }
  